name: "Project 01: Project Static website"

on:
    push:
        branches: 
            - main
        paths:
            - 'pro-01-static-site/**'
            - '.github/workflows/docker-build.yml'
    
permissions:
    contents: read
    pages: write
    id-token: write


        
jobs:
    build_and_push:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            #? Use github secrets for credentials
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Build and push Docker Image
          uses: docker/build-push-action@v5
          with:
            context: ./
            push: true
            tags: |
                mayhrem/flask-app:latest
                mayhrem/flask-app:${{ github.sha }}